select.error, textarea.error, input.error {
  border: 1px solid red;

}

#error_box
{
    color: red;
}

.event
{
    margin-bottom: 10pt;
}

#register
{
    margin-top: 5pt;
}

#content
{
    margin-left: 30pt;
}
